/*
 * Customization Variables
 */

$accent: #FF0F00;
$image-size: 85px;
$contact-image-size: 150px;
$badge-image-size: 42px;

/*
 * Build Variables, don't touch
 */

$max-width: 700px;
$med-width: 600px;
$small-width: 480px;
